{
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"jsxSingleQuote": true,
	"useTabs": true,
	"printWidth": 100
}
