<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975268329111-u9pgg5uj46qgkvi6k8rf0i5enghqi01a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975268329111-u9pgg5uj46qgkvi6k8rf0i5enghqi01a</string>
	<key>API_KEY</key>
	<string>AIzaSyCcvO0AlQ27Zi7XZjJGWCSlAghAtTkSlUU</string>
	<key>GCM_SENDER_ID</key>
	<string>975268329111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.WeatherNative</string>
	<key>PROJECT_ID</key>
	<string>common-auth-dbd0c</string>
	<key>STORAGE_BUCKET</key>
	<string>common-auth-dbd0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975268329111:ios:beac7b04c12d58309e1bd2</string>
</dict>
</plist>